# Ignorar archivo de configuración con credenciales
config.yml

# Ignorar contenido de carpetas de tareas
task/unprocessed/*
!task/unprocessed/.gitkeep
task/processed/*
!task/processed/.gitkeep
task/without-formatting/*
!task/without-formatting/.gitkeep

# Logs
logs/*.log
!logs/.gitkeep

# Archivos temporales
*.tmp
.DS_Store

